@page "/Publicaciones/edit/{Id:int}"
@using System.Net
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService

<h3>Editar</h3>

@if (publicacion is null)
{
    <p>Cargando...</p>
}
else
{
    <PublicacionForm @ref="publicacionForm1"  Publicacion="publicacion" OnValidSubmit="Editar" ReturnAction="Return"/>

}

@code {
    [Parameter]
    public int Id { get; set; }
    private Publicacion publicacion;
    private PublicacionForm publicacionForm1;

    protected override async Task OnParametersSetAsync()
    {
        var responseHttp = await repository.GetAsync<Publicacion>($"api/Publicaciones/{Id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/Publicaciones");
            }
            else
            {
                var messsage = await responseHttp.GetErrorMessage();
                await sweetAlertService.FireAsync("Error", messsage, SweetAlertIcon.Error);
            }
        }
        else
        {
            publicacion = responseHttp.Response;

        }
    }


    private async Task Editar()
    {
        var responseHttp = await repository.PutAsync("/api/Publicaion", publicacion);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessage();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }

    Return();
    var toast = sweetAlertService.Mixin(new SweetAlertOptions
    {
        Toast = true,
        Position = SweetAlertPosition.BottomEnd,
        ShowConfirmButton = true,
        Timer = 3000
    });
    await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Cambios guardados con éxito.");
}

        private void Return()
        {
        publicacionForm1!.FormularioPosteadoConExito = true;
        navigationManager.NavigateTo("/RecursosEs");
        }
   
}