@inject SweetAlertService swal

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>


<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>Titulo de la publicacion:</label>
        <div>
            <InputDate width="10" @bind-Value="Publicacion.titulo"></InputDate>
            <ValidationMessage For="@(() => Publicacion.titulo)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Nombre del autor:</label>
        <div>
            <InputDate width="10" @bind-Value="Publicacion.autores"></InputDate>
            <ValidationMessage For="@(() => Publicacion.autores)" />
        </div>
    </div>
    <div class="mb-3">
        <label>fecha de publicacion:</label>
        <div>
            <InputDate width="10" @bind-Value="Publicacion.fechapu"></InputDate>
            <ValidationMessage For="@(() => Publicacion.fechapu)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Numero de proyecto asociado:</label>
        <div>
            <InputDate width="10" @bind-Value="Publicacion.ProyectoDeinvestigacion"></InputDate>
            <ValidationMessage For="@(() => Publicacion.ProyectoDeinvestigacion)" />
        </div>
    </div>

   



    <button class="btn btn-primary" type="submit"><i class="bi bi-floppy" />Guardar Cambios</button>
    <button class="btn btn-info" type="reset"><i class="bi bi-x-circle" />Limpiar</button>
    <button class="btn btn-success" onclick="ReturnAction"><i class="bi bi-arrow-left" />Regresar</button>
</EditForm>

@code {

    private EditContext editContext = null!;
    protected override void OnInitialized()
    {
        editContext = new(Publicacion);
    }



    [Parameter]
    [EditorRequired]
    public Publicacion Publicacion { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public EventCallback OnValidSubmit { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }

    public bool FormularioPosteadoConExito { get; set; } = false;



    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var formularioFueEditado = editContext.IsModified();

        if (!formularioFueEditado)
        {
            return;
        }

        if (FormularioPosteadoConExito)
        {
            return;
        }

        var resultado = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Deseas abandonar la página y perder los cambios?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true
            });

        var confirmado = !string.IsNullOrEmpty(resultado.Value);

        if (confirmado)
        {
            return;
        }

        context.PreventNavigation();
    }
}


