﻿



<EditForm Model="ProyectoDeInvestigacion" OnSubmit="OnSubmit" ReturnAction="Return">

    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>Nombre</label>
        <div>

            <InputText @bind-Value="ProyectoDeInvestigacion.Nombre"/> 
            <ValidationMessage For="@(()=>ProyectoDeInvestigacion.Nombre)"/>
        </div>
    </div>
    <div class="mb-3">
        <label>Descripcion</label>
        <div>

            <InputText @bind-Value="ProyectoDeInvestigacion.Descripcion" />
            <ValidationMessage For="@(()=>ProyectoDeInvestigacion.Descripcion)" />
        </div>
    </div>

   @*  <div class="mb-3">
        <label>FechaDeInicio</label>
        <div>

            <InputText @bind-Value="ProyectoDeInvestigacion.FechaDeInicio" />
            <ValidationMessage For="@(()=>ProyectoDeInvestigacion.FechaDeInicio)" />
        </div>
    </div> *@

   @*  <div class="mb-3">
        <label>Nombre</label>
        <div>

            <InputText @bind-Value="ProyectoDeInvestigacion.Nombre" />
            <ValidationMessage For="@(()=>ProyectoDeInvestigacion.Nombre)" />
        </div>
    </div> *@

    <button class=" btn btn-primary" type="submit">Guardar</button>
    <button class=" btn btn-info" type="reset">Limpiar</button>
    <button class=" btn btn-primary" onclick="ReturbAction">Regresar</button>
    </EditForm>


    

@code {
    [EditorRequired]
    [Parameter]
    public ProyectoDeInvestigacion ProyectoDeInvestigacion { get; set; }

    [EditorRequired]
    [Parameter]
    public EventCallback OnSubmit { get; set; }

    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }

    public bool FormularioPosteadoConExito { get; set; } = false;



}
