@page "/Actividad/create"
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService

 <h3>Crear</h3>

<ActividadForm @ref="actividadForm" ActividadesDeInvestigacion="actividad" OnValidSubmit="Create" ReturnAction="Return"/>

@code {
    private ActividadesDeInvestigacion actividad = new ActividadesDeInvestigacion();
    private ActividadForm actividadForm;



    private async Task Create()
    {


        var responseHttp = await repository.PostAsync("/api/Actividades", actividad);
        if (responseHttp.Error)
        {

            var message = await responseHttp.GetErrorMessage();
            await sweetAlertService.FireAsync("Error", message);
            return;


        }

        Return();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {

                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000




            });


        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro creado con éxito");
    }


    private void Return()
    {




        actividadForm!.FormularioPosteadoConExito = true;
        navigationManager.NavigateTo("/Actividades");




    }


}