
@typeparam Titem

@if (MyList is null)
{
    @if (Loading is null)
    {
        <div class="align-items-center">
            <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExOHdnNmM0OXZwN2lucnpyOTU2MDl3MHlwbG03NDlydGc4aGN5cW8ydSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/5AtXMjjrTMwvK/giphy.gif" />           
        </div>
    }
    else
    {
        @Loading
    }
}
else if (MyList.Count == 0)
{
    @if (NoRecords is null)
    {
        <p>No hay registros para mostrar...</p>
    }
    else
    {
        @NoRecords
    }
}
else
{
    @Body
}

@code {
    [Parameter]
    public RenderFragment Loading { get; set; }

    [Parameter]
    public RenderFragment NoRecords { get; set; }

    [Parameter]
    [EditorRequired]
    public RenderFragment Body { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public List<Titem> MyList { get; set; } = null!;
}

